.btn-primary {
  background-color: var(--clr-primary);
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.btn-primary:hover {
  color: black;
}
.btn-primary i {
  margin-right: 0.5rem;
}

/* learn more button on transfer page */
.row-reverse {
  flex-direction: row-reverse;
  gap: 1rem;
  width: 190px;
}
